body {
  background-color: #FAF0E6;
}
table {
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 2px solid #673147;
    text-align: left;
    padding: 20px;}

h1 {
  color: #800080; border:2px #C3B1E1; font-family: Courier, monospace; text-decoration: underline; text-align: center; font-size : 35px;}

h2 {
  color: #8B008B; text-decoration: underline; font-family : Courier, monospace; font-size : 25px;
}

h3{
  color: #663399; font-family: Helvetica, Arial, sans-serif; font-size : 20px;
}

p {
  color: #301934; font-family: Helvetica, Arial, sans-serif; font-size : 15px;
}

div{
	background-color: #FAF0E6;
	color: #301934;
}
